@import "../../../assets/styles/default.scss";
@import "../../../assets/styles/fonts.scss";
$homepageBackground: #f2f2f2;

.btn-login {
  padding: 0.5em 5em;
  font-size: 1.5em;
  border-radius: 0px;
  border: 2px solid;
  border-color: $defaultGreen;
}

.column {
  margin-top: 7%;
  font-size: 1.5em;
}
.micro-btn {
  font-size: 0.75em;
}
.micro-logo {
  height: 25px;
  width: 25px;
}

h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
.txt-transition {
  font-size: 1.5em;
  margin-left: 23.5%;
}
.txt-feature {
  float: right;
}
.scroll-image {
  border-radius: 0.5%;
  width: 75%;
  height: 100%;
  object-fit: cover;
  float: right;
}
.float-padding {
  margin-right: 0;
  padding-right: 0;
}
.btn-transition {
  background-color: transparent;
  font-size: 1.5em;
  outline: none;
  border: none;
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
}
$phone: 768px;
.select-text {
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 5%;
}

.select-text:hover {
  color: $defaultGreen;
}

.hover-green:hover {
  color: $defaultGreen;
}

@media (max-width: $phone) {
  .column {
    margin-top: 7%;
    font-size: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  .txt-feature {
    float: left;
  }
  .select-text {
    font-size: 1em;
    margin-left: 3%;
  }
  .scroll-image {
    width: 100%;
    height: 100%;
    float: left;
  }
  .float-padding {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .txt-transition {
    margin-right: 0;
    margin-left: 0;
  }
}
