@import "../../../assets/styles/default.scss";
@import "../../../assets/styles/fonts.scss";
$homepageBackground: #f2f2f2;

.btn-login {
    padding: 7px 120px;
    font-size: 24px;    
    border-radius: 0px;
    border: 2px solid;
    border-color: $defaultGreen;
}

.btn-no_border_just_text{
    font-size: 26px;
    border: 0px;
    border-radius: 0px;
}

.picture-second_image_on_frong_page{
    width: 619px;
    height: 371px;
    background-image: url("../../../assets/Homepage/second_portion.jpg")
}
$phone: 768px;

@media (max-width: $phone) {
  .section {
    vertical-align: middle;
    font-size: 3vw;
  }
  .card-row {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .top-margin {
    margin-top: 20%;
  }

  .button {
    height: 37px;
  }
}
