<div class = "container-fluid mx-auto">
    <div class = "row allign-items-center">
        <div class = "col-lg-6 ml-0 p-0">
                <img src="/assets/Homepage/main_top.png" class = "img-fluid">
        </div>
        <div class="col-lg-4 mt-5 p-5">
            <div class="p-5">
                <h2>COVID-19 ROOM</h2>
                <h3>TRACKER</h3>
                <div class ="mt-5">
                    <p>Keep yourself and your co-workers safe by keeping track of your contact with COVID-19.</p>
                </div>
            </div>
            <div class = "row">
                <div class= "col-lg-5 text-center ml-3">
                    <a class="btn btn-outline-success btn-lg" role="button" aria-disabled="true">Login</a>
                </div>
            </div>
            <div class = "row">
                <div class= "col-lg-5 text-center mt-2 ml-4">
                    <a class="btn btn-outline-success btn-lg" role="button" aria-disabled="true">Register</a>
                </div>
            </div>           
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg-6 mt-5 text-right">
            <h1>Features</h1>
        </div>
        <div class = "col-lg-6 mt-0 ml-5 p-5">
            <img src="/assets/Homepage/second_portion.jpg" class = "img-fluid">
        </div>
        <div class = "col-lg-5 p-4 mt-5 text-left">
            <div class = "row">
                <button type = "button" class ="btn-lg btn-outline-secondary">TRACK WORKSPACES</button>
            </div>
            <div class = "row mt-5">
                <button type = "button" class ="btn-lg btn-outline-secondary">STAY INFORMED</button>
            </div>
            <div class = "row mt-5">
                <button type = "button" class ="btn-lg btn-outline-secondary">MANAGE ENVIRONMENTS</button>
            </div>
        </div>
    </div>
</div>
