<div class="container-fluid">
  <div class="row">
    <div class="col-8 login-section">
      <div class="center-adjust">
        <p class="default-green header-text">Login</p>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control input-styles"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control input-styles"
              placeholder="Password"
            />
          </div>
          <a routerLink="/meetings"
            ><button type="submit" class="btn btn-login">Login</button></a
          >

          <a routerLink="" class="home-link">Home</a>
        </form>
      </div>
    </div>
    <div class="col-4 mr-0 pr-0 image-col">
      <img
        class="img-fluid main-image float-right mr-0 pr-0"
        src="../../../assets/images/login_page_images/LoginImage.png"
      />
    </div>
  </div>
</div>
